.page {
  background-color: var(--color-bg-base);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.page main > * + * {
  margin-top: 100px;
}

.spotlightGroup {
  display: flex;
  flex-direction: column;
}

.faqTestimonialsWrap {
  display: flex;
  flex-direction: column;
}
